*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #2d3a49;
    padding-top: 15px;
}
nav{
    background-color: #37475A;
    margin-top: 10px;
    padding: 10px 20px;
}
nav a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    padding: 0px 10px;
}
#logo{
    width: 150px;
    padding-left:25px ;
}
main{
    width: 90%;
    margin: 0 auto;
}
#gift{
    text-align: center;
    background-color: rgb(218, 84, 31);
    margin: 25px 0px;
    padding: 5px;
}
#gift p{
color: white;
}
#Holiday{
    text-align: center;
    font-size: 12px;
    color:white;
    background-image: url(./img/barra.png);
    padding: 20px;
    
}
#Holiday h2{
    margin-bottom: 20px;
}
#titoli{
    padding: 20px;
    font-weight: 600;
}
#titoli span{
    color: rgb(34, 142, 167);
    font-size: 14px;
}
.container{
    background-color:rgb(255, 255, 255);
   margin:15px 0px ;
}
.img{
    width: 22%;
    height: 400px;
    object-fit: cover;
    border-radius: 12px;
    margin: 15px;
    
}
.vr{
    width: 100%;
}
.text{
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 18px;
}
.text span{
    color: rgb(34, 142, 167);
    font-size: 10px;
    font-weight: bolder;
}
.marshall{
    width: 100%;
}
.last-line{
    background-color: #37475A;
    padding: 10px;
}
.last-line a{
    color: white;
    margin-left: 715px;
    font-size: 10px;
    font-weight: bold;
}
.last-logo{
    width: 100px;
}
.container-logo{
    background-color: #2d3a49;
    padding: 35px 700px;
}